<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/xurong</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.yiibai.springmvc.model.ChannelGroupEntity"/>
    <mapping class="com.yiibai.springmvc.model.ChannelHisEntity"/>
    <mapping class="com.yiibai.springmvc.model.ChannelHisDtlEntity"/>
    <mapping class="com.yiibai.springmvc.model.ChannelInfoEntity"/>
    <mapping class="com.yiibai.springmvc.model.DepotEntity"/>
    <mapping class="com.yiibai.springmvc.model.DepotHisEntity"/>
    <mapping class="com.yiibai.springmvc.model.ImportInfoEntity"/>
    <mapping class="com.yiibai.springmvc.model.MoneyEntity"/>
    <mapping class="com.yiibai.springmvc.model.MoneyHisEntity"/>
    <mapping class="com.yiibai.springmvc.model.MystockEntity"/>
    <mapping class="com.yiibai.springmvc.model.MystockHisEntity"/>
    <mapping class="com.yiibai.springmvc.model.NodeGroupInfoEntity"/>
    <mapping class="com.yiibai.springmvc.model.NodeInfoEntity"/>
    <mapping class="com.yiibai.springmvc.model.NodeMappingEntity"/>
    <mapping class="com.yiibai.springmvc.model.ProfitEntity"/>
    <mapping class="com.yiibai.springmvc.model.RoleEntity"/>
    <mapping class="com.yiibai.springmvc.model.SaleEntity"/>
    <mapping class="com.yiibai.springmvc.model.ShippingEntity"/>
    <mapping class="com.yiibai.springmvc.model.ShippingHisEntity"/>
    <mapping class="com.yiibai.springmvc.model.UserGroupEntity"/>
    <mapping class="com.yiibai.springmvc.model.UsersEntity"/>
    <mapping class="com.yiibai.springmvc.model.WareInfoEntity"/>
    <mapping class="com.yiibai.springmvc.model.WaresEntity"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>